@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0d1b1c;
    --background: #e7f3f4;
    --primary: #00e5ff;
    --secondary: #92b1ce;
    --accent: #4665a0;
    --white: #fff;
    --black: #000;
  }
  .dark {
    --text: #e3f1f2;
    --background: #0b1718;
    --primary: #00e5ff;
    --secondary: #31506d;
    --accent: #5f7fb9;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
